<div class="marker">
  <span class="fa-stack fa-2x">
    <i class="fa-solid fa-location-pin fa-stack-2x" style="color: <%= Pin::ICONS[pin.icon] %>;"></i>
    <i class="fa-solid fa-<%= pin.icon %> fa-stack-1x" style="font-size: 16px; color: white;"></i>
  </span>
</div>
