<h1>Pins#index</h1>
<p>Find me in app/views/pins/index.html.erb</p>


<div>
  <main class="p-4">
    <div class="row justify-content-center">
      <% @pins.each do |pin| %>
        <div class="col-md-auto">
          <div class="card mb-3 rounded shadow" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= pin.name %></h5>
              <p class="card-text"><%= pin.address %></p>
            </div>
          </div>
        </div>
        <% end %>
    </div>
  </main>
</div>
