<div class="container-fluid homepage mx-auto">
  <div>
    <%= image_tag "https://res.cloudinary.com/dcqlc61be/image/upload/v1701306487/google-maps_x091f8.jpg", :style => "width:100%" %>
  </div>
  <div>
