.btn-filters i {
  background-color: $persian-blue;
  color: white;
  border-radius: 0 10px 10px 0;
  padding: 12px;
  font-size: 1.2rem;
  z-index: 990;
}

.filters-list {
  top: 100px;
  z-index: 400;
  background-color: $baby-powder;
  padding-bottom: 5px;
}

button.btn-filters {
  background: none;
  border-style: none;
  margin: 0;
}
