.btn-primary {
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
}

.btn-primary:checked {
  background-color: $persian-blue;
  color: white;
  border-radius: 10px;
}

.btn-primary:hover {
  background-color: #7E73FF;
  color: white;
}

.btn-visited {
  background-color: $dark-green;
  opacity: 1;
  color: white;
  padding: 0.1rem 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
}

.btn-secondary {
  border-radius: 10px;
  font-size: 1.2rem;
}

.form-button {
  background-color: $persian-blue;
  color: white;
}

.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: auto;
  background-color: #ff3b6aff;
  bottom: 24px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: none;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}

.btn-sort i {
  background-color: $persian-blue;
  color: white;
  border-radius: 10px;
  padding: 12px;
  font-size: 1.2rem;
}

// .btn-sort:active {
//   background-color: #ff3b6aff !important;
// }

.btn-primary-tag {
  background-color: #ff3b6aff;
  opacity: 0.9;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
}

.btn-primary-tag:hover {
  background-color: #ff3b6aff;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
}

.crayola-pink {
  background-color: #ff3b6aff;
}

.inline > label.form-check-label.collection_radio_buttons {
  color: black !important;
}

.inline > label.form-check-input.is-valid.radio_buttons.optional {
  background-color: black !important;
}
