.btn-primary {
  background-color: #343192;
  color: white;
  border-radius: 10px;
}

.btn-primary:checked {
  background-color: #343192;
  color: white;
  border-radius: 10px;
}

.btn-primary:hover {
  background-color: #7E73FF;
  color: white;
}

.form-button {
  background-color: #343192;
  color: white;
}
