.navbar-lewagon {
  justify-content: space-between;
  background: $persian-blue;
  vertical-align: middle;
  margin-top: -5px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.nav-link {
  color: $baby-powder;
  font-size: 1.2rem;
  margin-right: 5px;
}

.navbar {
  height: 65px;
  z-index: 1000;
}

#username-navbar {
  color: $baby-powder;
}

.dropdown-menu-end.show {
  text-align: right;
}

.dropdown-menu {
  min-width: 100px;
}
