.navbar-lewagon {
  justify-content: space-between;
  background: $egyptian-blue;
  vertical-align: middle;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.nav-link {
  color: $baby-powder;
  font-size: 1.2rem;
  margin-right: 5px;
}
