.map-list-views {

  // both views
  .btn-toggle {
    padding: 3px 20px;
    color: black;
    z-index: 990;
    text-decoration: none;
    border: none;
    background-color: lightgray;
    border-radius: 15px;
  }



  // map view
  &:not(.show-list) {
    .list-container {
      display: none;
    }

    .btn-toggle-map {
      color: $baby-powder;
      background-color: $persian-blue;
    }

    .filters-map {
      top: 50px;
      z-index: 450;
      background: none;
    }
  }

  // list view
  &.show-list {
    .map-container {
      visibility: hidden;
    }

    .list-container {
      display: block;
      background-color: $baby-powder;
    }

    .btn-toggle-list {
      color: $baby-powder;
      background-color: $persian-blue;
    }

    .filters-map {
      top: 50px;
      z-index: 450;
      background-color: $baby-powder;
      padding-bottom: 5px;
    }
  }
}

.list-margin {
  margin-top: 100px;
}

ul {
  list-style-type: none;
}
