.tag-item {
  display: inline-block;
  padding: 10px;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #343192;
  opacity: 0.5;
  color: #ECEAFF;
  border: 1px solid #7E73FF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  text-decoration: none;
}

.tag-selector:checked + label {
  background-color: #343192;
  opacity: 1;
  color: white;
  text-decoration: none;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: black;
}

.tags {
  display: inline-block;
  font-size: 0.8rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #343192;
  color: #ECEAFF;
  border: 1px solid #7E73FF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tags-unchecked {
  display: inline-block;
  font-size: 0.8rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #343192;
  opacity: 0.5;
  color: #ECEAFF;
  border: 1px solid #7E73FF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tags-show {
  display: inline-block;
  font-size: 0.8rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #FF0B67;
  color: #ECEAFF;
  border: 1px solid #7E73FF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.fa-solid.fa-star {
  color: #FF0B67;
}

.show-icon {
  font-size: 50px;
  color: #343192;
}
